*.env
*.env.js
.env
.run
*.7z
.idea/
.idea/*
.DS_Store
.idea
*/migrations/
*/__pycache__/*
*/__pycache__/
__pycache__/
*/__init__.py
__init__.py
venv/
media/*
*/.vscode/
.vscode/
*.pyc
db.sqlite3
\
.run/Unnamed.run.xml
media/*