{% extends "base.html" %}
{% block meta %}
    <title>Index | SAT-Prep</title>
    <meta name="twitter:title" property="og:title" itemprop="name" content="Index | SAT-Prep"/>
    <meta name="twitter:description" property="og:description" itemprop="description"
          content="Index - SAT-Prep"/>
{% endblock %}
{% block content %}
    {% load static %}
    {% include "nav.html" %}
     <div class="container mx-auto p-6">
        <!-- Error Message -->
        {% if error %}
            <div class="bg-red-100 text-red-700 p-4 rounded mb-4">
                {{ error }}
            </div>
        {% endif %}

        <!-- Success Message -->
        {% if success %}
            <div class="bg-green-100 text-green-700 p-4 rounded mb-4">
                {{ success }}
            </div>
        {% endif %}
        <h1 class="text-3xl font-semibold text-center mb-6">Contact Us</h1>
        <div class="max-w-lg mx-auto bg-white p-8 rounded-lg shadow-md">
            <form action="{% url 'contact' %}" method="post">
                {% csrf_token %}
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                    <input type="text" id="name" name="name" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent">
                </div>
                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                    <input type="email" id="email" name="email" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent">
                </div>
                <div class="mb-4">
                    <label for="subject" class="block text-sm font-medium text-gray-700">Subject</label>
                    <input type="text" id="subject" name="subject" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent">
                </div>
                <div class="mb-4">
                    <label for="message" class="block text-sm font-medium text-gray-700">Message</label>
                    <textarea id="message" name="message" rows="4" required class="mt-1 p-2 w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 focus:border-transparent"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="bg-purple-500 text-white py-2 px-4 rounded hover:bg-purple-600">Send Message</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}